#root {
 /* Assurez-vous que le body prenne toute la largeur et la hauteur */
 body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #f8f9fa;
}
  
  /* Espacement sous la navbar pour éviter que le contenu se superpose */
  .App {
    padding-top: 76px; /* Ajustez si vous avez un header fixe */
  }
 
  p{
    font-size: 14px;
  }
  /* Dans ton fichier CSS */
a {
  text-decoration: none;
}
div.container{
  padding : 0;
  margin: 0,0;
}

}

